html {
  font-size: $font-html-size;
}

body {
  background-color: $color-body-bg;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
  margin: 0;
  font-family: $font-family-body;
}

p {
  margin-bottom: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 .h1,
.h2,
.h3,
.h4,
.h5 {
  margin-top: 0;
  margin-bottom: 0.8rem;
  // font-family: ${(props) => props.theme.typography.font.headerFontFamily};
  font-weight: 400;
  line-height: 1.15;
  font-family: $font-family-header;
}

h1,
.h1 {
  font-size: $font-h1;
}

h2,
.h2 {
  font-size: $font-h2;
}

h3,
.h3 {
  font-size: $font-h3;
}

h4,
.h4 {
  font-size: $font-h4;
}

h5,
.h5 {
  font-size: $font-h5;
}

h6,
.h6 {
  font-size: $font-h6;
}

small,
.text-sm {
  font-size: $font-small;
}

.text-xs {
  font-size: $font-xs;
}

.text-xxs {
  font-size: $font-xxs;
}

a {
  cursor: pointer;
  color: $color-primary;
  transition: color 0.2s ease-in-out;
  text-decoration: none;

  &:hover {
    color: $color-primary-dark;
    text-decoration: none;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.content-wrapper {
  padding: 10px 15px;
}
