// ======= COLORS ======= //
$color-primary: #43ace3;
$color-primary-dark: #274a9d;
$color-body-bg: #f8f8f8;
$color-danger: #ff0000;
$color-warning: #ffa500;
$border-color: #0000001a;

// ======= LIGHT THEME COLORS ====== //

// ======= DARK THEME COLORS ====== //
// $color-dark-body-bg: #f2f2f2;
$color-dark-body-bg: #383f48;
$color-dark-header-bg: #262c33;
$color-dark-card-bg: #262c33;
$color-dark-divider: #616161;

// ======= TYPOGRAPHY ======= //

$font-html-size: 16px;
$font-h1: 1.611rem;
$font-h2: 1.464rem;
$font-h3: 1.331rem;
$font-h4: 1.21rem;
$font-h5: 1.1rem;
$font-h6: 1rem;

$font-small: 0.909rem;
$font-xs: 0.826rem;
$font-xxs: 0.751rem;

$lineheight-body: 1.45;
$lineheight-headers: 1.15;

$font-family-header: 'Roboto', sans-serif;
$font-family-body: 'Open Sans', sans-serif;

// ======= BORDER ======= //
$border-radius: 0;
