.city-wrapper {
  ul.weather-details-ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      border-bottom: 1px solid $border-color;
      padding: 12px 0px 14px;

      &:last-child {
        border-bottom: none;
      }
    }
  }

  .weather-chart-wrapper {
    min-height: 55px;
    max-height: 420px;
  }
}
