.city-detail-wrapper {
  ul.weather-details-ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      border-bottom: 1px solid $border-color;
      padding: 10px 0px;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
